/* #region Global styles */
:root {
  --body1-font-size: 0.8125rem;
  --body1-font-weight: var(--font-weight-regular);
  --body1-line-height: 1.1875rem;
  --body1-text-color: var(--text-color);
  --body2-font-size: 0.8125rem;
  --body2-font-weight: var(--font-weight-regular);
  --body2-line-height: 1.1875rem;
  --body2-text-color: var(--text-color);
  --body3-font-size: 0.8125rem;
  --body3-font-weight: var(--font-weight-semi-bold);
  --body3-line-height: 1.1875rem;
  --body3-text-color: var(--text-color);
  --button-danger-background-hover: #e98888;
  --button-danger-background: #d73737;
  --button-edit-background-hover: #7c91f9;
  --button-edit-background: #4661e6;
  --button-primary-background-hover: #c75af6;
  --button-primary-background: #ad1fea;
  --button-secondary-background-hover: #656ea3;
  --button-secondary-background: #3a4374;
  --button-text-color: #f2f4fe;
  --button-vote-button-background-hover: #cfd7ff;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --h1-font-size: 1.125rem;
  --h1-letter-spacing: -0.015625rem;
  --h1-line-height: 1.625rem;
  --h1-text-color: rgb(58 67 116 / 96%);
  --h2-font-size: 0.9375rem;
  --h2-letter-spacing: -0.011875rem;
  --h2-line-height: 1.375rem;
  --h3-font-size: 0.8125rem;
  --h3-letter-spacing: -0.01125rem;
  --h3-line-height: 1.1875rem;
  --h4-font-size: 0.8125rem;
  --h4-letter-spacing: -0.01125rem;
  --h4-line-height: 1.1875rem;
  --heading-text-color: #3a4374;
  --text-color: #647196;
}

@media screen and (width >= 48em) {
  :root {
    --body1-font-size: 1rem;
    --body1-font-weight: var(--font-weight-regular);
    --body1-line-height: 1.4375rem;
    --body1-text-color: var(--text-color);
    --body2-font-size: 0.9375rem;
    --body2-font-weight: var(--font-weight-regular);
    --body2-line-height: 1.375rem;
    --body2-text-color: var(--text-color);
    --body3-font-size: 0.8125rem;
    --body3-font-weight: var(--font-weight-semi-bold);
    --body3-line-height: 1.1875rem;
    --body3-text-color: var(--text-color);
    --h1-font-size: 1.5rem;
    --h1-letter-spacing: -0.020625rem;
    --h1-line-height: 2.8175rem;
    --h2-font-size: 1.25rem;
    --h2-letter-spacing: -0.015625rem;
    --h2-line-height: 1.8125rem;
    --h3-font-size: 1.125rem;
    --h3-letter-spacing: -0.015625rem;
    --h3-line-height: 1.625rem;
    --h4-font-size: 0.875rem;
    --h4-letter-spacing: -0.011875rem;
    --h4-line-height: 1.25rem;
  }
}

html,
body {
  background-color: #f7f8fd;
  color: var(--text-color);
  font-family: Jost, sans-serif;
  font-size: 1rem;
  font-weight: var(--font-weight-regular);
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  padding: 0;

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }
}

.h1,
.h2,
.h3,
.h4 {
  color: var(--heading-text-color);
  font-weight: var(--font-weight-bold);
}

.h1 {
  color: var(--h1-text-color);
  font-size: var(--h1-font-size);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
}

.h2 {
  font-size: var(--h2-font-size);
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
}

.h3 {
  font-size: var(--h3-font-size);
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
}

.h4 {
  font-size: var(--h4-font-size);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
}

.body1 {
  color: var(--body1-text-color);
  font-size: var(--body1-font-size);
  font-weight: var(--body1-font-weight);
  line-height: var(--body1-line-height);
}

.body2 {
  color: var(--body2-text-color);
  font-size: var(--body2-font-size);
  font-weight: var(--body2-font-weight);
  line-height: var(--body2-line-height);
}

.body3 {
  color: var(--body3-text-color);
  font-size: var(--body3-font-size);
  font-weight: var(--body3-font-weight);
  line-height: var(--body3-line-height);
}

a.button {
  text-decoration: none;
}

.sr-only {
  border: 0;
  /* stylelint-disable-next-line property-no-deprecated */
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  overflow-wrap: normal;
  padding: 0;
  position: absolute;

  /* https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe */
  white-space: nowrap;
  width: 1px;
}

.page {
  margin: 0 auto;
  max-width: 23.4375em;

  @media screen and (width >= 48em) {
    max-width: 48em;
  }

  @media screen and (width >= 75em) {
    max-width: 69.375em;
  }
}
/* #endregion Global styles */

/* #region Roadmap Summary and Roadmap Cards */
.bullet {
  border-radius: 50%;
  height: 0.5rem;
  margin-block: auto;
  margin-inline-end: 1rem;
  width: 0.5rem;

  &__planned {
    background: #f49f85;
  }

  &__in-progress {
    background: #ad1fea;
  }

  &__live {
    background: #62bcfa;
  }
}
/* #endregion Roadmap Summary and Roadmap Cards */

/* #region Common Form Styles */
.input {
  background: #f7f8fd;
  border-color: transparent;
  border-radius: 0.3125rem;
  color: #3a4374;
  font-size: 0.8125rem;
  font-weight: var(--font-weight-regular);
  margin-block-start: 1em;
  padding-inline: 1rem;

  @media screen and (width >= 48em) {
    font-size: 0.9375rem;
    padding-inline: 1.5rem;
  }

  &.is-invalid {
    box-shadow: 0 0 0 1px #d73737;
  }
}

.invalid-input {
  color: #d73737;
  font-size: 0.8125rem;
  margin-block-start: 0.25rem;

  @media screen and (width >= 48em) {
    font-size: 0.875rem;
  }
}

textarea.input {
  resize: none;
}
/* #endregion Common Form Styles */

/* #region Button styles */
.button {
  align-items: center;
  align-self: start;
  border-radius: 0.625rem;
  cursor: pointer;
  display: inline-flex;
  font-size: 0.8125rem;
  font-weight: var(--font-weight-bold);
  justify-content: center;
  min-height: 2.5rem;
  padding-inline: 1rem;
  text-align: center;
  transition: 220ms all ease-in-out;

  @media screen and (width >= 48em) {
    font-size: 0.875rem;
    min-height: 2.75rem;
    min-width: 9.875rem;
  }

  &:disabled {
    opacity: 0.2;
  }

  &:focus {
    outline-color: transparent;
    outline-style: solid;
  }

  &--block {
    width: 100%;
  }

  &-primary {
    background-color: var(--button-primary-background);
    color: var(--button-text-color);

    &:hover,
    &:active {
      background-color: var(--button-primary-background-hover);
    }

    &:focus {
      box-shadow: 0 0 0 4px #6a0e91;
    }
  }

  &-secondary {
    background-color: var(--button-secondary-background);
    color: var(--button-text-color);

    &:hover,
    &:active {
      background-color: var(--button-secondary-background-hover);
    }

    &:focus {
      box-shadow: 0 0 0 4px #232846;
    }
  }

  &-danger {
    background-color: var(--button-danger-background);
    color: var(--button-text-color);

    &:hover,
    &:active {
      background-color: var(--button-danger-background-hover);
    }

    &:focus {
      box-shadow: 0 0 0 4px #871b1b;
    }
  }

  &-edit {
    background-color: var(--button-edit-background);
    color: var(--button-text-color);

    &:hover,
    &:active {
      background-color: var(--button-edit-background-hover);
    }

    &:focus {
      box-shadow: 0 0 0 4px #152d9f;
    }
  }
}

.plus-icon {
  display: inline-block;
  margin-inline-end: 0.5rem;
}

.vote-button {
  background: var(--button-text-color);
  border-radius: 0.625rem;
  color: var(--button-secondary-background);
  font-size: 0.8125rem;
  font-weight: var(--font-weight-bold);
  justify-content: center;
  letter-spacing: -0.01125rem;
  min-height: 2rem;
  min-width: 4.3125rem;
  padding-inline: 1em 0.8125em;
  text-align: center;

  @media screen and (width >= 48em) {
    min-height: 3.3125rem;
    min-width: 2.5rem;
  }

  & .upvote-icon {
    color: var(--button-edit-background);
    margin-inline-end: 0.625rem;
  }

  &:hover {
    background: var(--button-vote-button-background-hover);
  }

  &:focus {
    box-shadow: 0 0 0 2px #232846;
  }

  &:active,
  &.active {
    background: var(--button-edit-background);
    color: #fff;

    & .upvote-icon {
      color: #fff;
    }
  }
}

.go-back-button {
  color: #fff;
  font-size: 0.8125rem;
  font-weight: var(--font-weight-bold);

  @media screen and (width >= 48em) {
    font-size: 0.875rem;
  }

  & .left-arrow-icon {
    color: #cdd2ee;
    margin-inline-end: 0.875rem;
  }

  &:hover,
  &:focus {
    outline: none;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.3rem;
  }

  &:active {
    outline: none;
  }
}
/* #endregion Button styles */
