.suggestion {
  &-card {
    align-items: center;
    background: #fff;
    border-radius: 0.625em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-block-start: 1rem;
    margin-inline: auto;
    padding: 1.5rem;
    width: 20.4375rem;

    @media screen and (width >= 48em) {
      column-gap: 2.5em;
      display: grid;
      grid-template-areas: "vote suggestion comment";
      grid-template-columns: 2.8125em 1fr 2.8125em;
      grid-template-rows: auto;
      padding-block: 1.75em;
      padding-inline: 2em;
      width: 43.0625rem;
    }

    @media screen and (width >= 75em) {
      width: 51.5625rem;
    }

    .vote-container,
    .comment-info {
      flex-basis: 50%;
      margin-block-start: 1rem;

      @media screen and (width >= 48em) {
        margin-block-start: 0;
      }
    }

    .comment-info {
      align-items: center;
      align-self: center;
      display: inline-flex;
      justify-content: flex-end;
      margin-inline-start: auto;

      @media screen and (width >= 48em) {
        grid-area: comment;
      }
    }

    .comment-count {
      color: #3a4374;
      font-size: 0.8125rem;
      font-weight: var(--font-weight-bold);
      letter-spacing: -0.01125rem;
      margin-inline-start: 0.5em;
      text-align: center;
    }

    .vote-container {
      @media screen and (width >= 48em) {
        align-self: start;
        grid-area: vote;
      }
    }

    .vote-button {
      @media screen and (width >= 48em) {
        flex-direction: column;
        min-height: 3.3125em;
        min-width: 2.5em;
        padding-block: 0.5em;
        padding-inline: 0;

        & .upvote-icon {
          margin-block-end: 0.5em;
          margin-inline-end: 0;
        }
      }
    }
  }

  &-summary {
    flex: 1 0 100%;

    @media screen and (width >= 48em) {
      grid-area: suggestion;
    }
  }

  &-description {
    margin-block-start: 0.5rem;
  }

  &-category {
    align-items: center;
    background: #f2f4ff;
    border-radius: 0.625em;
    color: #4661e6;
    display: inline-flex;
    font-size: 0.8125rem;
    font-weight: var(--font-weight-semi-bold);
    margin-block-start: 0.5rem;
    margin-inline-end: 0.5rem;
    min-height: 1.875rem;
    min-width: 3rem;
    padding-inline: 1rem;

    @media screen and (width >= 48em) {
      margin-block-start: 0.75em;
    }
  }

  &-card-wrapper {
    border-radius: 0.625em;

    &:hover {
      cursor: pointer;

      .suggestion-title {
        color: #4661e6;
      }
    }

    &:focus {
      box-shadow: 0 0 0 2px #0b1855;
    }
  }
}
