@use "sass:color";
/* #region Button styles */
$text-color: #f2f4fe;
$primary-background: #ad1fea;
$primary-background-hover: #c75af6;
$secondary-background: #3a4374;
$secondary-background-hover: #656ea3;
$danger-background: #d73737;
$danger-background-hover: #e98888;
$edit-background: #4661e6;
$edit-background-hover: #7c91f9;
$vote-button-background-hover: #cfd7ff;

.button {
  align-items: center;
  align-self: start;
  border-radius: 0.625rem;
  cursor: pointer;
  display: inline-flex;
  font-size: 0.8125rem;
  font-weight: var(--font-weight-bold);
  justify-content: center;
  min-height: 2.5rem;
  padding-inline: 1rem;
  text-align: center;
  transition: 220ms all ease-in-out;

  @media screen and (min-width: 48em) {
    font-size: 0.875rem;
    min-height: 2.75rem;
    min-width: 9.875rem;
  }

  &:disabled {
    opacity: 0.2;
  }

  &:focus {
    outline-color: transparent;
    outline-style: solid;
  }

  &--block {
    width: 100%;
  }

  &-primary {
    background-color: $primary-background;
    color: $text-color;

    &:hover,
    &:active {
      background-color: $primary-background-hover;
    }

    &:focus {
      box-shadow: 0 0 0 4px
        color.scale($color: $primary-background, $lightness: -40%);
    }
  }

  &-secondary {
    background-color: $secondary-background;
    color: $text-color;

    &:hover,
    &:active {
      background-color: $secondary-background-hover;
    }

    &:focus {
      box-shadow: 0 0 0 4px
        color.scale($color: $secondary-background, $lightness: -40%);
    }
  }

  &-danger {
    background-color: $danger-background;
    color: $text-color;

    &:hover,
    &:active {
      background-color: $danger-background-hover;
    }

    &:focus {
      box-shadow: 0 0 0 4px
        color.scale($color: $danger-background, $lightness: -40%);
    }
  }

  &-edit {
    background-color: $edit-background;
    color: $text-color;

    &:hover,
    &:active {
      background-color: $edit-background-hover;
    }

    &:focus {
      box-shadow: 0 0 0 4px
        color.scale($color: $edit-background, $lightness: -40%);
    }
  }
}

.plus-icon {
  display: inline-block;
  margin-inline-end: 0.5rem;
}

.vote-button {
  background: $text-color;
  border-radius: 0.625rem;
  color: $secondary-background;
  font-size: 0.8125rem;
  font-weight: var(--font-weight-bold);
  justify-content: center;
  letter-spacing: -0.01125rem;
  min-height: 2rem;
  min-width: 4.3125rem;
  padding-inline: 1em 0.8125em;
  text-align: center;

  @media screen and (min-width: 48em) {
    min-width: 2.5rem;
    min-height: 3.3125rem;
  }

  & .upvote-icon {
    color: $edit-background;
    margin-inline-end: 0.625rem;
  }

  &:hover {
    background: $vote-button-background-hover;
  }

  &:focus {
    box-shadow: 0 0 0 2px
      color.scale($color: $secondary-background, $lightness: -40%);
  }

  &:active,
  &.active {
    background: $edit-background;
    color: #ffffff;

    & .upvote-icon {
      color: #ffffff;
    }
  }
}

.go-back-button {
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: var(--font-weight-bold);

  @media screen and (min-width: 48em) {
    font-size: 0.875rem;
  }

  & .left-arrow-icon {
    color: #cdd2ee;
    margin-inline-end: 0.875rem;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.3rem;
    outline: none;
  }

  &:active {
    outline: none;
  }
}
/* #endregion Button styles */
